<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @service.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @service.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @service.phone_number %>
</p>
<hr>

Works: 
<ul>
  <% @service.works.each do |work| %>
    <li><%= work.title %>: <%= work.price_in_organization(@organization.id) %>$ |
    <%= link_to 'edit', edit_work_path(work, service_id: @service.id) %></li> |
    <%= link_to 'make order', new_order_path(work_id: work.id, service_id: @service.id) %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_service_path(@service, organization_id: @organization.id) %> |
<%= link_to 'Back', services_path %>
