<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We recieved your order, <%= @client.first_name %></h1>
    <h2>
      Order details:<br>
    </h2>
    <p>
      Car: <%= @order.car.car_name %>
    <p>
    </p>
      Requested service: <%= @order.service.name %>
    <p>
    </p>
      Requested work: <%= @order.work.title %>
    <p>
    </p>
      Estimated price: <%= @order.price %>
    </p>
    <p>
      Please leave your comments for the order on this page: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>