<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Organization</th>
      <th>Service</th>
      <th>Work</th>
      <th>Price</th>
      <th>Car</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.organization.name %></td>
        <td><%= order.service.name %></td>
        <td><%= order.service_work.title %></td>
        <td><%= order.price %></td>
        <td><%= "#{order.car.maker}, #{order.car.model}" %></td>
        <td><%= link_to 'Show', order_path(current_user, order) %></td>
        <td><%= link_to 'Edit', edit_order_path(current_user, order) %></td>
        <td><%= link_to 'Destroy', order_path(current_user, order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
