<p id="notice"><%= notice %></p>

<p>
  <strong>Organizations services works price:</strong>
  <%= @order.organizations_services_works_price_id %>
</p>

<p>
  <strong>Car:</strong>
  <%= @order.car_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
