<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @organization.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @organization.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @organization.address %>
</p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Cities</strong>:<br> 
  <ul>
    <% @organization.cities.each do |city| %>
      <li><%= city.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
