<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @organization.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @organization.phone_number %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @organization.adress %>
</p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
