<p id="notice"><%= notice %></p>

<% if @car.photo.attached? %>
  <%= image_tag @car.photo.variant(resize_to_limit: [100, 100]), size: '100x100' %>
  <br>
<% end %>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Year production:</strong>
  <%= @car.year_production %>
</p>

<p>
  <strong>Engine volume:</strong>
  <%= @car.engine_volume %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @car.mileage %>
</p>

<p>
  <strong>Body type:</strong>
  <%= @car.body_type %>
</p>

<p>
  <strong>Fuel type:</strong>
  <%= @car.fuel_type %>
</p>

<p>
  <strong>Transmission type:</strong>
  <%= @car.transmission_type %>
</p>

<p>
  <strong>Maker:</strong>
  <%= @car.maker %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @car.vin %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>

<form name='graphqlForm'>
  <%= hidden_field :authenticity_token, form_authenticity_token, name: :authenticity_token %>
</form>

<script>
  function sendGraphQLRequest() {
    let graphqlForm = document.forms.graphqlForm
    let graphqlFormData = new FormData(graphqlForm)
    let query = '{ user(id: 1) { id firstName lastName } }'
    let authenticity_token = graphqlForm['authenticity_token'].getAttribute('id').replace('authenticity_token_', '')

    graphqlFormData.set('query', query)
    graphqlFormData.set('authenticity_token', authenticity_token)

    fetch('/graphql', {
      method: 'POST',
      body: graphqlFormData
    })
    .then(res => res.json())
    .then(data => { console.log(JSON.stringify(data)) })
  }

  sendGraphQLRequest()
</script>
