<p id="notice"><%= notice %></p>

<p>
  <strong>Issue date:</strong>
  <%= @cars_owners_document.issue_date %>
</p>

<p>
  <strong>Term of validity:</strong>
  <%= @cars_owners_document.term_of_validity %>
</p>

<%= link_to 'Edit', edit_cars_owners_document_path(@cars_owners_document) %> |
<%= link_to 'Back', cars_owners_documents_path %>
